.header-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
  .app-logo {
    height: 60px;
  }

  .app-logo2 {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .app-logo-container {
    display: flex;
    justify-content: center;
    filter: drop-shadow(8px 5px 4px #8d1313);
    margin-bottom: 15px;
  }

  .tablet-or-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }

}