body {
  margin: 0;
  padding: 10px 0;
  font-family: 'Rajdhani', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #061f4a;
  color: #aeb0b5;
}